In [1]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np

In [2]:
shots = pd.read_csv('../data/shots_2007-2023.csv')

In [3]:
shots.head()

,shotID,homeTeamCode,awayTeamCode,season,isPlayoffGame,game_id,homeTeamWon,id,time,timeUntilNextEvent,...,xFroze,xRebound,xPlayContinuedInZone,xPlayContinuedOutsideZone,xPlayStopped,xShotWasOnGoal,isHomeTeam,shotWasOnGoal,teamCode,arenaAdjustedXCordABS
0,0,TBL,NSH,2023,0,20001,1,10,61,9.0,...,0.249174,0.035816,0.379310,0.277143,0.022744,0.751320,1.0,1.0,TBL,59.0
1,1,TBL,NSH,2023,0,20001,1,11,70,26.0,...,0.107945,0.051284,0.464358,0.298119,0.020588,0.589712,1.0,1.0,TBL,81.0
2,2,TBL,NSH,2023,0,20001,1,13,107,2.0,...,0.236193,0.030269,0.390417,0.301375,0.025620,0.785765,1.0,1.0,TBL,55.0
3,3,TBL,NSH,2023,0,20001,1,19,177,35.0,...,0.198635,0.033686,0.438052,0.291724,0.021107,0.724471,1.0,1.0,TBL,58.0
4,4,TBL,NSH,2023,0,20001,1,21,231,29.0,...,0.188582,0.027146,0.406288,0.349752,0.019523,0.727481,0.0,0.0,NSH,64.0

In [4]:
shots.shape

(1840218, 124)

In [5]:
goals = shots.loc[shots['event'] == 'GOAL'].reset_index(drop = True)

In [6]:
goals.head()

,shotID,homeTeamCode,awayTeamCode,season,isPlayoffGame,game_id,homeTeamWon,id,time,timeUntilNextEvent,...,xFroze,xRebound,xPlayContinuedInZone,xPlayContinuedOutsideZone,xPlayStopped,xShotWasOnGoal,isHomeTeam,shotWasOnGoal,teamCode,arenaAdjustedXCordABS
0,10,TBL,NSH,2023,0,20001,1,43,588,0.0,...,0.176175,0.032857,0.401291,0.327446,0.025333,0.693671,1.0,1.0,TBL,50.0
1,44,TBL,NSH,2023,0,20001,1,178,2175,0.0,...,0.134414,0.056219,0.352016,0.273352,0.025170,0.779774,0.0,1.0,NSH,81.0
2,50,TBL,NSH,2023,0,20001,1,206,2411,0.0,...,0.163421,0.104072,0.284227,0.172749,0.022472,0.947874,0.0,1.0,NSH,82.0
3,59,TBL,NSH,2023,0,20001,1,223,2545,0.0,...,0.312801,0.157645,0.154111,0.059869,0.024670,0.973102,1.0,1.0,TBL,83.0
4,67,TBL,NSH,2023,0,20001,1,256,2928,0.0,...,0.097908,0.041274,0.321319,0.188160,0.021889,0.817812,0.0,1.0,NSH,73.0

In [15]:
reg_szn_goals = goals.loc[goals['isPlayoffGame'] == 0]

In [17]:
goals_per_season = reg_szn_goals.groupby(['season'])['event'].value_counts().reset_index()

In [19]:
goals_per_season

    season event  count
0     2007  GOAL   6723
1     2008  GOAL   6978
2     2009  GOAL   6783
3     2010  GOAL   6694
4     2011  GOAL   6518
5     2012  GOAL   3814
6     2013  GOAL   6552
7     2014  GOAL   6535
8     2015  GOAL   6548
9     2016  GOAL   6690
10    2017  GOAL   7428
11    2018  GOAL   7552
12    2019  GOAL   6425
13    2020  GOAL   5022
14    2021  GOAL   8136
15    2022  GOAL   8233
16    2023  GOAL   8070

In [21]:
po_goals = goals.loc[goals['isPlayoffGame'] == 1]

In [25]:
goals_per_po = po_goals.groupby(['season'])['event'].value_counts().reset_index()

In [27]:
goals_per_po

    season event  count
0     2007  GOAL    455
1     2008  GOAL    477
2     2009  GOAL    531
3     2010  GOAL    494
4     2011  GOAL    416
5     2012  GOAL    431
6     2013  GOAL    520
7     2014  GOAL    448
8     2015  GOAL    478
9     2016  GOAL    449
10    2017  GOAL    496
11    2018  GOAL    481
12    2019  GOAL    712
13    2020  GOAL    460
14    2021  GOAL    561
15    2022  GOAL    551
16    2023  GOAL    503